extends ./layout
block content
  .panel.panel-default
    .panel-heading Search results
    .panel-body
      p Total number of results: #{stats.total}. Please find your search results below.
    ul.list-group
      - var i = 0;
      each stat in stats.results
        li.list-group-item
            a(href="#{stat.uri}") #{stat.uri}
            small  (score: #{stat.score}) 
            a(data-toggle='collapse', href='#collapseExample#{i}', aria-expanded='false', aria-controls='collapseExample#{i}')
                | Show me more
        div(id='collapseExample' + i++, class='collapse')
          each match in stat.matches
            .well
              //- small Matched in: #{matchedElement} with the text: #{matchedText}
              small Matched in: #{match.path} with the text: 
              each text in match['match-text']
                small #{text.highlight}
